<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="TestNG Automation framework" verbose="1" >
  <test name="Framework for seleniumeasy" >
    <classes>
       <class name="com.testng.TestNGClassone" ></class>
       
             </classes>
             </test>
   </suite>
